body {
    background-image: url("/img/wood_pattern/wood_pattern.png")
}

.back_page {

    width: 69px;
    height: 69px;
    left: 20px;
    font-size: 80px;
    color: #2d2d2d;
    cursor: pointer;

}

.next_page {

    width: 69px;
    height: 69px;
    right: 20px;
    font-size: 80px;
    color: #2d2d2d;
    cursor: pointer;
}